# Crawl dá»¯ liá»‡u

In [11]:
import os
import pandas as pd
import cloudscraper
from bs4 import BeautifulSoup

# Khá»Ÿi táº¡o Cloudscraper (giáº£ láº­p trÃ¬nh duyá»‡t Ä‘á»ƒ vÆ°á»£t qua Cloudflare)
scraper = cloudscraper.create_scraper()

base_url = "https://www.kraken.com/vi-vn/prices?page="
all_data = []

# Láº·p qua tá»«ng trang
for page in range(1, 5):  
    url = base_url + str(page)
    print(f"ğŸ”„ Äang táº£i trang {url}...")

    # Gá»­i request Ä‘áº¿n trang web
    response = scraper.get(url)

    # Kiá»ƒm tra náº¿u request bá»‹ cháº·n
    if response.status_code != 200:
        print(f"âŒ Lá»—i {response.status_code} khi táº£i trang {url}")
        continue  # Bá» qua trang lá»—i vÃ  thá»­ trang tiáº¿p theo

    # PhÃ¢n tÃ­ch HTML vá»›i BeautifulSoup
    soup = BeautifulSoup(response.content, "html.parser")

    # TÃ¬m táº¥t cáº£ cÃ¡c hÃ ng dá»¯ liá»‡u <tr>
    rows = soup.find_all("tr", class_="fc150")
    
    for row in rows:
        cells = row.find_all("td")
        
        try:
            rank = cells[0].get_text(strip=True)  # Xáº¿p háº¡ng
            name = cells[1].find("span", class_="fc-bc02027a-6").get_text(strip=True)  # TÃªn coin
            symbol = cells[1].find("span", class_="fc-bc02027a-7").get_text(strip=True)  # KÃ½ hiá»‡u coin
            price = cells[2].get_text(strip=True)  # GiÃ¡ hiá»‡n táº¡i
            change_24h = cells[4].get_text(strip=True)  # Thay Ä‘á»•i 24h
            market_cap = cells[5].get_text(strip=True)  # Vá»‘n hÃ³a thá»‹ trÆ°á»ng
            
            all_data.append([rank, name, symbol, price, change_24h, market_cap])
        
        except IndexError:
            continue  # Bá» qua hÃ ng lá»—i náº¿u khÃ´ng Ä‘á»§ cá»™t

# Táº¡o DataFrame vÃ  LÆ°u file CSV
columns = ["Xáº¿p háº¡ng", "TÃªn", "MÃ£", "GiÃ¡ hiá»‡n táº¡i", "Thay Ä‘á»•i 24h", "Vá»‘n hÃ³a thá»‹ trÆ°á»ng"]
df = pd.DataFrame(all_data, columns=columns)

csv_path = os.path.join(os.getcwd(), "kraken_all_pages.csv")
df.to_csv(csv_path, index=False, encoding="utf-8-sig")

print(f"âœ… Dá»¯ liá»‡u Ä‘Ã£ Ä‘Æ°á»£c lÆ°u vÃ o {csv_path}")

ğŸ”„ Äang táº£i trang https://www.kraken.com/vi-vn/prices?page=1...
ğŸ”„ Äang táº£i trang https://www.kraken.com/vi-vn/prices?page=2...
ğŸ”„ Äang táº£i trang https://www.kraken.com/vi-vn/prices?page=3...
ğŸ”„ Äang táº£i trang https://www.kraken.com/vi-vn/prices?page=4...
âœ… Dá»¯ liá»‡u Ä‘Ã£ Ä‘Æ°á»£c lÆ°u vÃ o d:\E\2024.2\khdl (DS)\weekly\DataScience\weekly_exercise\ex1_crawlData\beautifulSoup\kraken\kraken_all_pages.csv

# Xuáº¥t ra má»™t vÃ i dá»¯ liá»‡u Ä‘áº§u tiÃªn dÆ°á»›i dáº¡ng báº£ng

In [12]:
import pandas as pd
df = pd.read_csv("kraken_all_pages.csv", sep=",")
from IPython.display import display
display(df)

,Xáº¿p háº¡ng,TÃªn,MÃ£,GiÃ¡ hiá»‡n táº¡i,Thay Ä‘á»•i 24h,Vá»‘n hÃ³a thá»‹ trÆ°á»ng
0,1,Bitcoin,BTC,"92.339,00Â $","+6,09%","1,84Â NTÂ $"
1,2,Ethereum,ETH,"2.303,81Â $","+5,79%","279,34Â TÂ $"
2,3,XRP,XRP,"2,52Â $","+3,99%","146,59Â TÂ $"
3,4,Tether,USDT,"1,00Â $","+0,02%","142,71Â TÂ $"
4,5,Solana,SOL,"149,11Â $","+5,63%","76,04Â TÂ $"
...,...,...,...,...,...,...
352,353,Sky,SKY,"0,059Â $","+3,45%",-
353,354,Multichain,MULTI,"0,86Â $","-2,75%",-
354,355,Fantom,FTM,"0,60Â $","+7,19%",-
355,356,Crust Shadow,CSM,"0,0056Â $","+27,62%",-
356,357,BitDAO,BIT,"0,76Â $","-0,38%",-

Hiá»ƒn thá»‹ vÃ i dÃ²ng Ä‘áº§u tiÃªn vÃ  thÃ´ng tin chung cá»§a DataFrame

In [13]:
print("=== 5 dÃ²ng Ä‘áº§u tiÃªn cá»§a dá»¯ liá»‡u ===")
print(df.head())
print("\n=== ThÃ´ng tin dá»¯ liá»‡u ===")
df.info()

=== 5 dÃ²ng Ä‘áº§u tiÃªn cá»§a dá»¯ liá»‡u ===
   Xáº¿p háº¡ng       TÃªn    MÃ£ GiÃ¡ hiá»‡n táº¡i Thay Ä‘á»•i 24h Vá»‘n hÃ³a thá»‹ trÆ°á»ng
0         1   Bitcoin   BTC  92.339,00Â $       +6,09%          1,84Â NTÂ $
1         2  Ethereum   ETH   2.303,81Â $       +5,79%         279,34Â TÂ $
2         3       XRP   XRP       2,52Â $       +3,99%         146,59Â TÂ $
3         4    Tether  USDT       1,00Â $       +0,02%         142,71Â TÂ $
4         5    Solana   SOL     149,11Â $       +5,63%          76,04Â TÂ $

=== ThÃ´ng tin dá»¯ liá»‡u ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Xáº¿p háº¡ng            357 non-null    int64
 1   TÃªn                 357 non-null    object
 2   MÃ£                  357 non-null    object
 3   GiÃ¡ hiá»‡n táº¡i        357 non-null    object
 4   Thay Ä‘á»•i 24h        357 non-null    object
 5   Vá»‘n hÃ³a thá»‹ trÆ°á»ng  357 non-null    object
dtypes: int64(1), object(5)
memory usage: 16.9+ KB